.App {
  text-align: center;
  padding: 50px;
}

h1 {
  margin-bottom: 30px;
}

.status {
  font-size: 20px;
  margin-bottom: 30px;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 5px;
  background-color: black;
  width: 310px;
  margin: 0 auto;
  padding: 5px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: none;
  background-color: white;
}

.square:hover {
  background-color: lightgray;
}
